/.vscode
__pycache__
/dataset/math23k/partition.py
/dataset/ape200k/process.py
/dataset/mawps/dataprocess.py
/dataset/mawps/MAWPS_.json
/dataset/hmwp/process.py
/dataset/math23k/graph2tree_deprel_info.json
pos_info.json
*.pth
/pretrain/gpt2_cn
/pretrain/gpt2_en
*.log
/test.py
/mwptoolkit/utils/old.py