/.vscode
__pycache__
/dataset/math23k/partition.py
/dataset/ape200k/process.py
/dataset/mawps/dataprocess.py
/dataset/mawps/MAWPS_.json
/dataset/hmwp/process.py
/dataset/math23k/graph2tree_deprel_info.json
preprocess.py
pos_info.json
span_level_deprel_tree_info.json
*.pth
/pretrain/gpt2_cn
/pretrain/gpt2_en
*.log
/test.py
/test2.py
/mwptoolkit/utils/old.py
/dataset/math23k/span_level_deprel_tree_info.json
/dataset/math23k/deprel_tree_info.json
hms_test.json
hms_train.json
hms_valid.json
x.json
x1.json
git_update.sh